{% extends "training/base.html" %}

{% block content %}

<a href="{% url 'goals' %}">goals</a>

<h2>your monthly goals</h2>
<section>
    {% for goal in goals.all %}
        <ul>
            <li>{{ goal.name }} {{ goal.volume }} {{ goal.progress }}%</li>
        </ul>
    {% endfor %}
</section>

<h2>add new goal</h2>
<section>
    <form action="{% url 'add_goal' %}" method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="name" required />
        <input type="number" name="volume" placeholder="volume" required />
        <input type="submit" value="create" />
    </form>
</section>

{% endblock %}
