{% load training_format %}
{% load staticfiles %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.0-rc.2/dist/leaflet.js"></script>
<script src="{% static 'training/activity_map.js' %}"></script>
<script src="{% static 'training/activity_charts.js' %}"></script>

<h2>{{ gpx.activity_type }}, {{ workout.started }}</h2>
<section>
    <dl><dt>distance</dt><dd>{{ gpx.distance|distance }}</dd></dl>
    <dl><dt>time</dt><dd>{{ workout.duration }}</dd></dl>
    <dl><dt>pace</dt><dd>{{ gpx.speed_or_pace }}</dd></dl>

    {% if gpx.average_hr %}
        <dl><dt>avg hr</dt><dd>{{ gpx.average_hr }}</dd></dl>
    {% endif %}
    {% if gpx.average_cad %}
        <dl><dt>avg cadence</dt><dd>{{ gpx.average_cad }}</dd></dl>
    {% endif %}
</section>

<section>
    <div id="map" style="height: 350px"></div>
</section>

<script>
    $(document).ready(function() {
        render_activity_map("map", {{ gpx.points_as_json|safe }});
    });
</script>

{% block content %}

<section>
    <canvas id="charts" width="8" height="1"></canvas>
    <canvas id="pace1" width="8" height="1"></canvas>
    <canvas id="pace2" width="8" height="1"></canvas>

    <script>
    $(document).ready(function() {
        render_charts('#charts', '#pace1', '#pace2', {{ gpx.points_as_json|safe }}, {{ gpx.average_hr }}, {{ gpx.average_cad }});
    });
    </script>

</section>

{% endblock %}
